 #colorbox{
    width: 200px;
    height: 100px;
    background-color: lightgreen;
 }
 /*Mouse events Example */
 #card {
  width: 200px;
  height: 150px;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 18px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
