body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: teal;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
p{
    font-size: 20px; 
    color: darkslateblue;
} 
/* Example of getElementByClassName() */
.box{
    padding: 20px;
    margin: 10px;
    background-color: lightblue; 
    border: 1px solid #000;
    font-size: 18px;
    text-align: center;
} 
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} 
.msg{
   padding: 20px;
    margin: 10px;
    background-color: rgb(5, 73, 96); 
    border: 1px solid #000;
    font-size: 18px;
    text-align: center;
}

/* Example of getElementByTagName() */
 p {
  font-size: 18px;
  color: darkblue;
  padding: 10px;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h2{
  color: black;
  background-color: bisque; 
  padding: 20px;
  margin: 10px,20px; 
  border: 2px,solid goldenrod;
}
 
.title {
  color: teal;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}
/* Example of querySelectorAll()*/ 
.note {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: lightyellow;
  border-left: 5px solid gold;
}

button {
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
#myImg{
 width: 300px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


} 


 /*ClassList Methods Examples
   Ex1: Adds a class to an element */ 
.highlight {
  background-color: yellow;
  font-weight: bold;
}

.dark {
  background-color: black;
  color: white;
}
/*Exa 3: Check if a Class Exists*/

/*Example 4: Replace One Class with Another*/
.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

